extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel efficitur diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut nisl eu neque lacinia iaculis. Ut eu lorem eget tellus accumsan auctor eu in velit. 

                p Sed dictum sagittis consectetur. Aenean scelerisque dui justo, quis commodo elit vestibulum ac. Suspendisse id lacus nec odio eleifend sagittis vitae at nulla. Maecenas posuere efficitur tristique. Integer bibendum sapien et dolor rutrum congue. Duis tempus accumsan pharetra. Quisque ultrices, magna quis laoreet ultrices, leo arcu ultricies dolor, quis varius elit turpis scelerisque tortor. Fusce ut erat tristique, sollicitudin magna id, consectetur tortor. Nulla cursus pulvinar feugiat.

                p Aliquam et mi sit amet mi aliquam euismod. Maecenas non nibh ac enim cursus volutpat. Donec sit amet ante vitae erat porttitor maximus. Fusce quis aliquam orci. Fusce justo nibh, malesuada convallis lorem consequat, commodo pretium neque. Donec nec gravida nisl, ac placerat sem. Ut pharetra consectetur porttitor. Duis tristique lacus eu nisi dapibus finibus. Maecenas iaculis ac orci quis lobortis. Nam lacinia nec magna at venenatis.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.bm-4 Seguridad
                    p Sed dictum sagittis consectetur. Aenean scelerisque dui justo, quis commodo elit vestibulum ac. Suspendisse id lacus nec odio eleifend sagittis vitae at nulla. Maecenas posuere efficitur tristique. Integer bibendum sapien et dolor rutrum congue.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.bm-4 Mejores Destinos
                    p Sed dictum sagittis consectetur. Aenean scelerisque dui justo, quis commodo elit vestibulum ac. Suspendisse id lacus nec odio eleifend sagittis vitae at nulla. Maecenas posuere efficitur tristique. Integer bibendum sapien et dolor rutrum congue.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.bm-4 Los Mejores Precios
                    p Sed dictum sagittis consectetur. Aenean scelerisque dui justo, quis commodo elit vestibulum ac. Suspendisse id lacus nec odio eleifend sagittis vitae at nulla. Maecenas posuere efficitur tristique. Integer bibendum sapien et dolor rutrum congue.