footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                a.nav-link(href="/nosotros") Nosotros
                a.nav-link(href="/viajes") Viajes
                a.nav-link(href="/testimoniales") Testimoniales

        .col-md-6
            p.copyright.text-center.text-md-right
                Todos los derechos Reservados 
                    span=year


    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/es.min.js' integrity='sha512-tgY2qswcbQir80Vp67s5ZdbKikl99YmVXp3V/C4Acthk4gI29ONbQ   +MR8B5tpESkNoa0N1P7HnSuzC6nOflrwA==' crossorigin='anonymous')